* {
    /* background-color: gray; */
    background-color: rgb(254, 249, 240);
    color: rgb(47, 47, 47);
    font-family: 'Montserrat', 'Geneva', Tahoma, sans-serif;
}

header {
    font-size: 45px;
    margin-top: 15px;
    color: rgb(47, 47, 47);
    text-align: center;
}
.link2{
    text-decoration: none;
}  

.gros_titre:hover {
    font-size: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 20px;
    
}

.container a {
    color : inherit;
    text-decoration: none;
}


.presentation {
    background-color: rgb(251, 215, 131);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px 20px 20px 20px;
}

/* Cible le conteneur image */
.image {
    grid-column: 2 / 3 ;
    grid-row: 1 / 2 ;
    text-align: center;
    align-content: center;
}

.projets_scolaires_global {
    background-color: rgb(170, 233, 222);
    border-radius: 20px 20px 20px 20px;
}

.projets_scolaires {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.experience_pro {
    background-color: rgb(160, 190, 225);
    grid-column: 2 / 3;
    grid-row:  2 / 3;
    border-radius: 20px 20px 20px 20px;
    padding-left: 10px;
}

.projets_perso {
    background-color: rgb(180, 216, 156);
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    border-radius: 20px 20px 20px 20px;
}

.projets_perso p{
    font-size: 22px;
}

.projets_perso * {
    background-color: inherit;
    padding-left: 10px;
}

h1 {
    text-align: center;
}
/* Cible l'image */
div.image img {
    max-width: 180px;
    max-height: auto;
    border-radius: 45%;
}

/* Cible la balise texte de présentation */
div.presentation  p{
    font-size: 20px;
}
/* Cible tous ce qui a en dessous de projets scolaire sauf le titre h1 */
.projets_scolaires  h2, .projets_scolaires  p {
    padding-left: 15px;
    font-size: 20px;
}

.experience_pro p, .experience_pro > h2{
    padding-left: 10px
}

.experience_pro p {
    font-size: 20px;
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    border-radius: 0px 0px 0px 20px;
}

.contact p {
    background-color: inherit;
}

.adresse_mail, .linkedin, .telephone {
    background-color: rgb(156, 129, 117);
}

.contact_globale {
    border-radius: 20px 0px 0px 20px;
}


.contact_globale > h2 {
    text-align: center;
    background-color: inherit;
}

.telechargement {
    display: flex;
    justify-content: space-around;
    background-color: inherit;
}

.telechargement_globale {
    border-radius: 0px 20px 20px 0px;
}

.telechargement_globale > h2 {
    text-align: center;
    background-color: inherit;
}

.telechargement a {
    background-color: inherit;
}
.mon_footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.contact_globale, .telechargement_globale {
    flex: 1; /* Chaque div occupe une largeur égale */
    background-color: rgb(156, 129, 117);
}

 .cliquez_ici {
    font-size: 20px
 }
.presentation  p, .projets_scolaires  h1, .projets_scolaires h2, .projets_scolaires p, .experience_pro  h1, .experience_pro h2, .experience_pro p, .projets_scolaires, .cliquez_ici {
    background-color: inherit;
}
.presentation:hover, /*.experience_pro:hover,*/ .projets_scolaires_global:hover {
    background-color: rgb(255, 224, 159);
}

.liens {
    text-decoration: none;
    color: rgb(47, 47, 47);
    text-decoration: underline;
    background-color: inherit;
}

@media screen and (max-width: 960px) {
    .mon_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .contact,
    .telechargement {
        flex-direction: column; /* Change la disposition interne */
        gap: 10px;
    }
}

@media screen and (max-width: 1240px) {
        /* Page projets scolaires */

        .projet_global_quadtree {
            display: flex;
            flex-direction: column;
            gap: 10px;
            
        }
    
        .projet_global_polytech {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
}

@media screen and (max-width : 995px){
    .presentation_global {
        display: flex;
        flex-direction: column;
    }
    
}
                        /* Présentation */
/*---------------------------------------------------------------------------*/

.presentation_global {
    display: flex;
    flex-wrap: wrap;
}

.presentation_texte {
    padding-left: 10px;
    font-size: 22px;
}

.presentation_texte, .image_edgar{
    flex: 1;
}

.image_edgar {
    max-width: 500px;
    max-height: auto;
}

                        /* Projets scolaire */
/*---------------------------------------------------------------------------*/
.projet_polytech h2, .projet_quadtree h2 {
    font-size: 40px;
}

.projet_quadtree p, .projet_polytech p {
    font-size: 25px
}
.image_quadtree {
    max-width: 500px;
    max-height: auto;
    padding-left: 10px;
}

.image_quadtree2 {
    max-width: 500px;
    max-height: auto;
    padding-left: 10px;
}

.image_strategies_investissements {
    max-width: 500px;
    max-height: auto;
    padding-left: 10px;
}

.image_strategies_investissements2{
    max-width: 500px;
    max-height: 300px;
    padding-left: 10px;
}

.projet_global_quadtree {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.projet_quadtree, .image_quadtree, .image_quadtree2{
    flex: 1;
}

.projet_global_polytech {
    display: flex;
    flex-wrap: wrap;
    padding : 20px 10px 0px 10px;
}

.projet_polytech, .image_strategies_investissements, .image_strategies_investissements2 {
    flex: 1;
}




